body {
    background-color: black;
}
.margins { /*marges*/
    margin-top: 1vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
}
.margins1 { /*marges*/
    margin-top: 7vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
.blank {  /*espace en bas de index*/
    margin-bottom: 33vw;
}
.blocHoraire{ /*blochoraire*/
  margin-top: -8vw;
}
.horaire{ /* jour indivduel*/
    text-align: center;
    margin-left: 40vw;
    margin-top: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}
.sous-titre1 { /*oniri / restaurant immersif*/
    margin-top: 7vw;
    margin-bottom: 2vw;
    margin-left: 10vw;
    color: rgb(248, 219, 235);
    text-align: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.textes { /*à propos*/
    color: white;
    text-align: left;
    margin-top: 2vw;
    margin-left: 10vw;
    margin-right: 50vw;
    margin-bottom: 10vw;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    letter-spacing: 0.1px;
}
.infoC { /*coordonnées*/
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -39.5vw;
    margin-left: 30.5vw;
    margin-bottom: 14vw;
    text-align: left;
}
.paragrapheC {  /*coordonnées*/
  margin-left: 20vw;
  margin-bottom: 8px;
  color: rgb(255, 241, 212);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  cursor: pointer;
}
.paragrapheM {    /*bandeau*/
  margin-top: -42vw;
  width: 100%;
  transform: rotate(-5deg);
}
.menu { /*plâts*/
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    position: relative;
}
.menu1 {  /*boissons*/
    width: 70%;
    display: block;
    margin-top: 1vw;
    margin-bottom: 5vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    position: relative;
}
.gif {  /*principal*/
    width: 80%;
    display: block;
    margin-left: 9vw;
    margin-top: 3vw;
}
.gif1 { /*secondaires*/
  width: 100%;
  display: block;
  margin-top: -3.5vw;
}
.cote { /*titre page*/
  font-size: 90px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 14vw;
  margin-bottom: 20vw;
  z-index: 10;
  position: relative;
}
.paragrapheR { /*infos client*/
    margin-top: 5vw;
    margin-left: 5vw;
    padding: 5vw;
    font-family:Arial, Helvetica, sans-serif;
}
.paragraphe1 { /**/
  margin-top: 5vw;
  width: 100%;
}
.block { /*infos client*/
    padding: 10px 1px;
    background-color: white;
    color: rgb(196, 196, 196);
    margin-right: 42vw;
    margin-bottom: 1.7vw;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.image { /*?*/
    width: 5vw;
    margin-left: -2vw;
    margin-top: -5vw;
}
.logo { /*navigation page index*/
  margin-left:-5vw;
  margin-top: -36vw;
}
.mois { /*conteneur*/
    margin-left: 46vw;
    margin-top: -30vw;
    z-index: 1;
    width: 40%;
}
ul {list-style-type: none;}
body {font-family: Arial, Helvetica, sans-serif;}
/* Month header */
.month {
  padding: 65px 25px;
  width: 90.7%;
  background: #000000;
  text-align: center;
}
/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}
.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
  margin-left: 2vw;
}
/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
  margin-right: 2vw;
}
/* Weekdays (Mon-Sun) */
.weekdays {
  text-align: center;
  margin-right: 0.4vw;
  padding: 10px 0;
  background-color:#000000;
}
.weekdays li {
  display: inline-block;
  width: 12%;
  color: #ffffff;
  text-align: center;
  margin-left: -0.25vw;
}
/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #000000;
  text-align: start;
  margin-top: -1vw;
  margin-left: 2.7vw;
}
.days li {
  list-style-type: none;
  display: inline-block;
  width: 12%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #ffffff;
  cursor: pointer;
}
.sidenav {
  height: 20%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 10vw;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
}
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #ffffff;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: center;
  cursor: pointer;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}
/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}
/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
/* Add an active class to the active dropdown button */
.active {
  background-color: rgb(0, 172, 164);
  color: white;
}
.active2 {
  background-color: rgb(160, 0, 64);
  color: white;
}
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #000000;
  padding-left: 8px;
}
/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /*background: url(images/05.jpg) right, no-repeat;
  background-size: 100%;*/
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 40px;
  text-decoration: none;
  font-size: 15px;
  color: #080808;
  display: block;
  transition: 0.3s;
  text-align: left;
}
.sidenav a:hover {
  color: #c6c6c6;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 70px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

div.gallery {
  margin: 5px;
  float: left;
  width: 30px;
  margin-left: 1vw;
}
div.gallery img {
  width: 100%;
  height: auto;
  margin-left: 19vw;
  cursor: pointer;
}
.demande { /*lien demande contact*/
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 10vw;
  margin-top: 3vw;
  margin-bottom: 10vw;
}
.ligne_verticale { /*ligne*/
  width: 5vw;
  border-left: 1px solid gray;
  height: 35vw;
  margin-left: 44vw;
  margin-top: -3.5vw;
}
.bande { /*bande*/
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  margin-top: 4vw;
}
.i { /*icone*/
  width: 1%;
  height: auto;
  margin-left: 18vw;
  position: absolute;
}
.conteneur { /*conteneur*/
 margin-top: 0vw;
}