body {
    background-color: black;
}
.margins {
    margin-top: 1vw;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vw;
}
.sous-titre {
    color: white;
    text-align: center;
    margin-top: 8vw;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sous-titre-horaire {
    color: white;
    text-align: center;
    margin-top: 8vw;
    margin-bottom: 3vw;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.horaire{
    text-align: center;
    margin-left: 4vw;
    margin-bottom: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
}
.sous-titre1 {
    color: white;
    text-align: center;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.textes {
    color: white;
    text-align: center;
    text-align: left;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
    font-size: 20px;
}
.paragraphe {
   
}
.info {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-top: 5vw;
}
.paragraphe1 {
    margin-top: 4vw;
    margin-bottom: 10vw;
    padding: 5vw;
    background-color:black;
}
.conteneur {
    text-align: right;
    margin-bottom: 5vw;
    float: right;
}
button {
    padding: 5px 5px;
    font-size: 15px;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 1vw;
}
.menu {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.gif {
    width: 80%;
    display: block;
    margin-left: 9vw;
}
.info {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
{

}