body {
    background-color: black;
}
.margins {
    margin-left: 2vw;
    margin-right: 2vw;
}
.margins1 {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
.titre {
    text-align: center;
}
.sous-titre {
    color: white;
    text-align: left;
    margin-top: 8vw;
    font-size: 30px;
}
.paragraphe1 {
    margin-top: 4vw;
    margin-bottom: 10vw;
    padding: 5vw;
    background-color:black;
}
.conteneur {
    text-align: right;
    margin-bottom: 5vw;
    margin-left: 1.5vw;
    float: right;
}
button {
    padding: 5px 5px;
    font-size: 15px;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}