body {
    background-color: rgb(255, 244, 231);
    max-width: 1920px;
}
.margins {
    margin-left: 0,5vw;
    margin-right: 0,5vw;
}
picture {
    max-width: 100%;
    height: auto;
    display: block;
    align-content: center;
}
